@import "colors.css";

.banner-pic {
    background-color: var(--accent-color-main);
}

#login-function {
    display: flex;
    flex: 4.5;
    flex-direction: column;
    align-items: center;
}

#register-function {
    display: flex;
    flex: 5;
    flex-direction: column;
    align-items: center;
}

#divisor {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    color: #cccccc;
    align-items: center;
}

#divisor > div {
    height: 100%;
    width: 0;
    border-left: 0.5px solid #cccccc;
    border-right: 0.5px solid #cccccc;
}

#login-prompt, #register-prompt {
    color: var(--accent-color-alt);
    white-space: nowrap;
    margin-bottom: 2px;
}

#login-form, #register-form {
    width: 80%;
    margin-top: 1rem;
    padding-left: 1rem;
    display: flex;
    border-left: 3px var(--accent-color-alt) solid;
    flex-direction: column;
}

.group-ipt {
    width: 50%;
    box-sizing: border-box;
    margin: 0.5rem;
    background: rgba(255,255,255,0.5);
}

.group-ipt > label {
    color: var(--accent-color-alt);
}

.group-ipt > label, input{
    display: block;
    width: 100%;
    margin-bottom: 0.3rem;
}

#login-button, #register-button {
            min-width: 5rem;
            color: white;
			background-color: var(--accent-color-alt);
            overflow: hidden;
    		box-shadow: none;
    		border: 0;
    		border-radius: 3px;
    		line-height: 2rem;
            margin: 1rem 0;
    		display: block;
    		font-size: 15px;
    		cursor: pointer;
            filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 30%));
}
