@import "colors.css";

.banner-pic {
    background-color: var(--accent-color-main);
}

#login-function {
    display: flex;
    width: 48%;
    flex-direction: column;
}

#login-prompt {
    color: var(--accent-color-alt);
    white-space: nowrap;
    margin-bottom: 2px;
}

.group-ipt {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem .8rem;
    background: rgba(255,255,255,0.5);
}

#button{
			width: 20%;
			background: #0f88eb;
    		box-shadow: none;
    		border: 0;
    		border-radius: 3px;
    		line-height: 41px;
    		color: #fff;
    		display: block;
    		font-size: 15px;
    		cursor: pointer;
            filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 30%));
}
