<!DOCTYPE html>

<html lang="en">
    <head>
        <title>MGAF</title>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    </head>

    <body>
        <script src="../static/js/jQuery-3.6.0.js"></script>

        <nav id="top-nav-bar">
            <div id="logo">MGAF</div>
            <div id="tnb-placeholder-text">Development Build</div>
        </nav>

        <div id="body-region">
            <div id="side-nav-bar">
                <div id="side-nav">
                    <div>Latest Posts</div>
                    <div>Offers Overview</div>
                    <div>Notifications</div>
                    <div>Account Management</div>
                </div>

                <div id="login-display">
                    {% if username %}
                        <p>Logged in as <strong><u>{{ username }}</u></strong></p>
                    {% else %}
                        <a href="/login"><u>Login</u></a>
                    {% endif %}
                </div>
            </div>

            <div id="content-main">
                {% if post_content %}
                    {{ post_content }}
                {% else %}
                    <div id="err-no-post">No Content</div>
                {% endif %}
            </div>
        </div>

        {% if user_logged_in %}
        <div id="btn-new-post">
            <p id="btn-new-post-icon">+</p>
            <p id="btn-new-post-text">New Post</p>

            <script>
                $(document).ready(function(){
                    $("#btn-new-post").click(function(){
                        window.activeSubWindow = $("#mask-grayout-fullpage");
                        activeSubWindow.fadeToggle(500);
                        $("#post-creation-menu").fadeToggle(500);
                    });
                });
            </script>
        </div>
        {% endif %}

        <div id="mask-grayout-fullpage">
            <script>
                $(document).ready(function(){
                    $("#mask-grayout-fullpage").click(function(){
                        window.activeSubWindow.fadeToggle(500);
                        $("#post-creation-menu").fadeToggle(500);
                        window.activeSubWindow = null;
                    });
                });
            </script>
        </div>

        <div id="post-creation-menu">
            /* here */
        </div>

    </body>

    <script>
        /* init */
        $(document).ready(function() {
            $("#mask-grayout-fullpage").toggle();
            $("#post-creation-menu").toggle();

            window.activeSubWindow = null;
        });
    </script>
</html>