<!DOCTYPE html>

<html lang="en">
    <head>
        <title>MGAF</title>
        <link rel="stylesheet" type="text/css" href="../static/css/function-page.css">
        <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    </head>

    <body>
        <script src="../static/js/jQuery-3.6.0.js"></script>

        <div class="banner-pic"></div>

        <div class="function-pane">
            <!-- TODO: Change page design to 2 text btn and single form region -->
            <div id="login-function">
                <h1 id="login-prompt">Login to MGAF</h1>

                <form action="/user-login-auth" method="get" id="login-form">
                    <div class="group-ipt">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" required>
                    </div>

                    <div class="group-ipt">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required>
                    </div>

                    <div class="button">
                        <button type="submit" id="login-button">Login</button>
                    </div>
                </form>
            </div>

            <div id="divisor">
                <h1>OR</h1>
                <div></div>
            </div>

            <div id="register-function">
                <h1 id="register-prompt">Register New Account</h1>

                <form action="/user-register" method="get" id="register-form">
                    <div class="group-ipt">
                        <label for="register-username">Username</label>
                        <input type="text" name="username" id="register-username" required>
                    </div>

                    <div class="group-ipt">
                        <label for="register-email">E-mail Address</label>
                        <input type="text" name="email" id="register-email" required>
                    </div>

                    <div class="group-ipt">
                        <label for="register-password">Password</label>
                        <input type="password" name="password" id="register-password" required>
                    </div>

                    <div class="button">
                        <button type="submit" id="register-button">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>